h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 65px;
  text-align: center;
  font-weight: 1;
  font-style: normal;
  text-size-adjust: 80%;
  margin-bottom: 0px;
  color: white;
}

h2 {

  margin: 0px;
  font-family: 'Sono', sans-serif;
  font-size: 45px;
  font-weight: 1;
  font-style: normal;
  padding-bottom: 10px;
  text-align: center;
}

.menubar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0px;
  padding-right: 20px;
  padding-top: 80px;
  height: 60px;
  background-color: #000;
  flex-direction: row;

}

.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;


}
.menu {

  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  border: transparent;
  flex: none;
}
.menuhome {

  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  border: transparent;
  flex: none;
  padding: 10px;
}
.menubut1 {

  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  border: transparent;
  flex: none;
  padding: 10px;
}
.menubut2 {

  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  border: transparent;
  flex: none;
  padding: 10px;
}
.menubut3 {

  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  border: transparent;
  flex: none;
  padding: 10px;
}
.menu:hover {
  display: flex;
  background-image: url(background.png);
  background-size: cover;
  object-fit: contain;
  flex: none;
}
.menuhome:hover {
  display: flex;
  background-image: url(background.png);
  background-size: cover;
  object-fit: contain;
  flex: none;
  border: 3px solid white;
}

.menubut1:hover {
  display: flex;
  background-image: url(coding.jpg);
  background-size: cover;
  object-fit: contain;
  flex: none;
  border: 3px solid white;
}

.menubut2:hover {
  display: flex;
  background-image: url(wireframe.avif);
  background-size: cover;
  object-fit: contain;
  flex: none;
  border: 3px solid white;
}

.menubut3:hover {
  display: flex;
  background-image: url(aboutme.jpg);
  background-size: cover;
  object-fit: contain;
  flex: none;
  border: 3px solid white;
}

.title {
  
border-bottom:  3px  solid white;
  flex-grow: 1 auto;
  padding-top: 50px;
  margin-left: 100px;
  
  margin-right: 100px;
  color: whitesmoke;
}

ul {
  list-style-type: none;
  padding-top: 100px;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 0px 3px;
  border: 1px solid limegreen;
  border-radius: 10px;
  background-color: aliceblue;

}

a {
  text-decoration: none;
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

body,
html {
  margin: 0px;
  width: 100%;
  height: 100%;
}

/* header sytles */

header {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-image: url(background.png);
  background-size: cover;
  justify-content: flex-start;
}

.container-navigation {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items:flex-start;
 
}



button {
  border: 3px solid white;
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  font-family: 'Sono', sans-serif;
  color: white;
  font-size: large;
  padding: 15px;

  transition-duration: .4s;
  flex-wrap: nowrap;
  flex-grow: 0.5;
  text-align: justify;
  justify-content: space-evenly;
}

button:hover {
  border: 4px solid white;
  color: white;
  font-weight: 800;

}

.but1:hover {
  background-image: url(coding.jpg);
  background-size: cover;
  object-fit: contain;
  padding: 50px;
}

.but2:hover {
  background-image: url(wireframe.avif);
  background-size: cover;
  object-fit: contain;
  padding: 50px;
}

.but3:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(aboutme.jpg);
  background-size: cover;
  object-fit: contain;
  padding: 50px;
}

button:active {
  background-color: #3ebe41;
  box-shadow: 0 5px darkred;
  transform: translateY(4px);
}

footer {
  background-color: black;
  height: 60px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-small;
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


